  # Virtual environments
  .env/
  .venv/

  # Byte-compiled files
  __pycache__/
  *.py[cod]

  # Config files and sensitive data
  config.py
  .env
  instance
  .DS_Store
  files_db_backups/*
  files_letters/*
  files_roster_reports/*
  scripts/add_user.py

  # Logs
  *.log

  # Migrations
  .migrations/*
/SSL Server Test_ clerk.mrrc.online.pdf
/qualysTest.png
/security_recommendations.md
/files_db_backups/
*.sql
/scripts/
