  # Virtual environments
  .env/
  .venv/

  # Byte-compiled files
  __pycache__/
  *.py[cod]

  # Config files and sensitive data
  config.py
  .env
  instance
  static/*.jpg
  .DS_Store
  files_db_backups/*
  files_letters/*
  files_roster_reports/*

  # Logs
  *.log

  # Migrations
  .migrations/